html body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Concert One', cursive;
}

.nav-bar-logo {
  width: 223px !important;
  height: 81px !important;
}

.nav-bar {
  background: rgb(242, 242, 242);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-btn {
  width: 171px;
  height: 113px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.nav-bar-logo {
  color: #232426;
  font-size: 2.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.nav-icon {
  color: #888C8C;
  font-size: 2em;
}

.nav-title {
  color: #232426;
  font-size: 2em;
}

.nav-subtitle {
  color: #BDBFBF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
}

.nav-bar-search {
  width: 130px !important;
  height: 53px !important;
  border: 3px solid #232426 !important;
  flex-flow: row nowrap;
  border-radius: 10px !important;
}

.nav-bar-search i {
  font-size: 1.2em;
  padding: 0 10px 0 10px;
  color: #888C8C;
}

.nav-bar-search span {
  font-size: 1.7em;
  padding-right: 20px;
  color: #888C8C;
}

/* LATEST ARTICLE */

#dont-miss {
  width: 20%;
  height: 140px;
  text-align: center;
  position: absolute;
}

#tag-center {
  position: absolute;
  top: 48px;
}

#tag1 {
  text-align: center;
  font-family: 'Concert One', cursive;
  font-size: 2.5em;
  position: relative;
  background: #07090D;
  color: #F2F2F2;
  margin: 0 5px 0 5px;
  left: 40vw;
  right: 40vw;
}

.latest {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.latest div:first-child {
  background: rgb(235, 235, 235);
}

.latest div:last-child {
  background: rgb(235, 235, 235);
}

.latest-article {
  width: 49.9%;
  height: 565px;
  background: #F2F2F2;
  padding-top: 220px;
}

.latest-article .latest-photo {
  font-size: 5em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5vw;
  padding-right: 20px;
  color: #888C8C;
}

.latest-article .latest-name {
  font-size: 1.8em;
  color: #232426;
}

.latest-article h1 {
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5vw;
  padding-right: 5.5vw;
  color: #07090D;
}

.latest-article h4 {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5vw;
  padding-right: 5vw;
  color: #888C8C;
}

.fa-long-arrow-alt-right {
  font-size: 3em;
  padding-left: 5vw;
  padding-top: 145px;
  color: #232426;
}

/*SECOND ARTICLE ROW*/

.article-row {
  width: 100%;
  height: 540px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  background: rgb(35, 36, 38);
  padding: 30px 0 10px 0;
}

.article {
  display: flex;
  flex-flow: column nowrap;
  width: 29%;
  height: 100%;
}

.article-date {
  color: rgb(100, 100, 100);
  font-size: .8em;
  font-family: 'Times New Roman', Times, serif;
}

.article-title {
  color: rgb(235, 235, 235);
  padding-bottom: 40px;
  font-size: 2.5em;
  line-height: 35px;
}

.article-autor {
  color: rgb(189, 191, 191);
  padding-bottom: 36px;
  font-size: 1.2em;
  font-weight: bold;
}

.article-text {
  color: rgb(136, 140, 140);
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 99px;
}

.article-arrow i {
  font-size: 2.5em;
  padding-left: 0;
  padding-top: 0;
  color: rgb(136, 140, 140);
}

#advertisement {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 750px;
  background: rgb(242, 242, 242);
  justify-content: center;
}

.advertisement-1 {
  height: 100%;
  width: 398.8px;
  padding: 0 21.6px 0 21.6px;
  margin-bottom: 25.2px;
}

.advertisement-2 {
  height: 100%;
  width: 839.8px;
  padding: 0 21.6px 0 21.6px;
  margin-bottom: 75px;
}

.see-latest {
  width: 100%;
  height: 180px;
  background: rgb(35, 36, 38);
}